<html>
    <head>
        <title>Game Of Three</title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div style="display:flex;justify-content: center;margin-top:50px;">
            The Current Session is busy,please wait until the current game is finished or one player dissconnected and try again later. 
        </div>
    </body>
</html>